<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2048</title>
<style>
*{margin:0;padding:0;}
body{background:#fff;}
li{list-style:none}
#box{width:480px;height:480px;margin:100px auto;background:#bbada0;border-radius:10px;padding:10px;position:relative;}
.arr{width:100%;height:100%;}
.arr dd{width:100px;height:100px;float:left;background:#ccc0b3;margin:10px;border-radius:10px}
.showUl{width:100%;height:100%;position:absolute;left:0;top:0;left:10px;top:10px;}
.showUl dd{position:absolute;width:100px;height:100px;text-align:center;line-height:100px;border-radius:10px;font-size:60px;color:rgb(120,110,100);}


.col2{background:#eee3da;}
.col4{background:#ede0c8;}
.col8{background:#f2b179;color:#fff!important;}
.col16{background:#f59563;color:#fff!important}
.col32{background:#f67c5f;color:#fff!important}
.col64{background:pink;color:#fff!important}
.col128{background:#edcf72;}
.col256{background:#ff7025;}
.col512{background:#0f3546;}
.col1024{background:#ff5722;}
.col2048{background:#4caf50;}

.transition{transition:all .8s ease;}
.transifrom0{transform:scale(0);}
</style>	
<div id="box">
	<ul class="arr">
		<li v-for="(item,i) in arr">
			<dd v-for="(item,j) in item"  >
			
			</dd>
		</li>
	</ul>

	<ul class="showUl">
		<li v-for="(item,i) in showArr">
			<dd v-for="(item,j) in item"  :class="{col2:item.num==2,col4:item.num==4,col8:item.num==8,col16:item.num==16,col32:item.num==32,col64:item.num==64,col128:item.num==128,col256:item.num==256,col512:item.num==512,col1024:item.num==1024,col1024:item.num==2048,transition:annimate,transifrom0:item.num==0}" :style="{left:item.x+'px',top:item.y+'px'}">
				{{item.num}}
			</dd>
		</li>
	</ul>
</div>	
</head>
<body>
<script type="text/javascript" src="./vue.js"></script>	
<script>
	const vm = new Vue({
		el:"#box",
		data:{
			arr:[
				[{num:0,fit:true,count:0},{num:0,fit:true,count:0},{num:0,fit:true,count:0},{num:2,fit:true,count:0}],
				[{num:0,fit:true,count:0},{num:16,fit:true,count:0},{num:4,fit:true,count:0},{num:32,fit:true,count:0}],
				[{num:0,fit:true,count:0},{num:0,fit:true,count:0},{num:0,fit:true,count:0},{num:0,fit:true,count:0}],
				[{num:0,fit:true,count:0},{num:0,fit:true,count:0},{num:0,fit:true,count:0},{num:0,fit:true,count:0}]
				
					
			],
			showArr:[
				[{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0}],
				[{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0}],
				[{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0}],
				[{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0},{num:0,x:0,y:0}]
			],
			annimate:true,
			zeroArr:[],
			ifRandom:false
		},
		created(){
			this.each(this.init,this.showArr)
			window.addEventListener('keydown', this.keyEvent);
		},
		methods:{
			keyEvent(e){
				if(this.annimate){
					return
				}
				if(e.keyCode==37){
					this.each(this.left);
					this.each(this.annimateL);
				}else if(e.keyCode==39){
					this.each(this.right);
					this.each(this.annimateR);
				}else if(e.keyCode==40){
					this.each(this.bottom);
					this.each(this.annimateB);
				}else if(e.keyCode==38){
					this.each(this.top);
					this.each(this.annimateT);
					
				}
				this.each(this.toZeroArr);
				this.random();
				var $this=this;
				var timer=setTimeout(function(){
					$this.each($this.init,$this.showArr);
					this.annimate=true;
					clearTimeout(timer);
				},820)
				
			},
			init(arr,i,j){
				this.annimate=false;
				arr[i][j].x=j*120+10;
				arr[i][j].y=i*120+10;
				arr[i][j].num=this.arr[i][j].num;
			},
			//循环方法
			each(callback,arr){
				var tarr=this.arr;
				if(arr){
					tarr=this.showArr;
				}
				for(let i=0;i<tarr.length;i++){
					for(let j=0;j<tarr[i].length;j++){
						callback(tarr,i,j);
					}
				}
				
			},//左
			left(arr,i,j){
				for(let k=0;k<arr[i].length-1;k++){
					if(arr[i][k].num==0&&arr[i][k+1].num!=0){
						arr[i][k+1+j].count = arr[i][k+j+1].count+1;
						let temp = arr[i][k+1].num;
						arr[i][k+1].num = 0;
						arr[i][k].num = temp;
						this.ifRandom=true;
					}else if(arr[i][k].num==arr[i][k+1].num&&arr[i][k].num!=0&&arr[i][k+1].fit&&arr[i][k].fit){
						arr[i][k+1+j].count = arr[i][k+j+1].count+1;
						arr[i][k].num = arr[i][k].num*2;
						arr[i][k+1].num = 0;
						arr[i][k].fit = false;
						this.ifRandom=true;
					}	
				}
				
			},
			right(arr,i,j){
				for(let k=arr[i].length-1;k>0;k--){
					if(arr[i][k].num==0&&arr[i][k-1].num!=0){
						arr[i][k-1-j].count = arr[i][k-1-j].count+1;
						let temp = arr[i][k-1].num;
						arr[i][k-1].num = 0;
						arr[i][k].num = temp;
						this.ifRandom=true;
					}else if(arr[i][k].num==arr[i][k-1].num&&arr[i][k].num!=0&&arr[i][k-1].fit&&arr[i][k].fit){
						arr[i][k-1-j].count = arr[i][k-1-j].count+1;
						arr[i][k].num = arr[i][k].num*2;
						arr[i][k-1].num = 0;
						arr[i][k].fit = false;
						this.ifRandom=true;
					}	
				}
			},
			top(arr,i,j){
				for(let k=0;k<arr.length-1;k++){
					if(arr[k][j].num==0&&arr[k+1][j].num!=0){
						arr[k+1+i][j].count = arr[k+1+i][j].count+1;
						let temp = arr[k+1][j].num;
						arr[k+1][j].num = 0;
						arr[k][j].num = temp;
						this.ifRandom=true;
					}else if(arr[k][j].num==arr[k+1][j].num&&arr[k][j].num!=0&&arr[k+1][j].fit&&arr[k][j].fit){
						arr[k+1+i][j].count = arr[k+1+i][j].count+1;
						arr[k][j].num = arr[k][j].num*2;
						arr[k+1][j].num = 0;
						arr[k][j].fit = false;
						this.ifRandom=true;
					}	
				}

			},
			bottom(arr,i,j){
				for(let k=arr.length-1;k>0;k--){
					if(arr[k][j].num==0&&arr[k-1][j].num!=0){
						arr[k-1-i][j].count = arr[k-1-i][j].count+1;
						let temp = arr[k-1][j].num;
						arr[k-1][j].num = 0;
						arr[k][j].num = temp;
						this.ifRandom=true;
					}else if(arr[k][j].num==arr[k-1][j].num&&arr[k][j].num!=0&&arr[k-1][j].fit&&arr[k][j].fit){
						arr[k-1-i][j].count = arr[k-1-i][j].count+1;
						arr[k][j].num = arr[k][j].num*2;
						arr[k-1][j].num = 0;
						arr[k][j].fit = false;
						this.ifRandom=true;
					}	
				}
			},
			annimateL(arr,i,j){
				if(arr[i][j].count!=0){
					this.showArr[i][j].x=this.showArr[i][j].x-arr[i][j].count*120;
				}
			},
			annimateR(arr,i,j){
				if(arr[i][j].count!=0){
					this.showArr[i][j].x=this.showArr[i][j].x+arr[i][j].count*120;
				}
			},
			annimateT(arr,i,j){
				if(arr[i][j].count!=0){
					this.showArr[i][j].y=this.showArr[i][j].y-arr[i][j].count*120;
				}
			},
			annimateB(arr,i,j){
				if(arr[i][j].count!=0){
					this.showArr[i][j].y=this.showArr[i][j].y+arr[i][j].count*120;
				}
			},
			//有哪些还为0
			toZeroArr(arr,i,j){
				if(arr[i][j].num==0){
					this.zeroArr.push([i,j])
				}
			},//随机出现
			random(){
				if(!this.ifRandom){
					return
				}
				let i=Math.floor((Math.random()*this.zeroArr.length));
				let zero=this.zeroArr[i];
				this.annimate=true;
				this.ifRandom=false;
				this.arr[zero[0]][zero[1]].num=2;
				this.showArr[zero[0]][zero[1]].num=2;
				this.each(this.allFitTrue)
				this.zeroArr=[];
			},
			/*
			run(arr,a,b,c,isLine,j){
				if(isLine){
					if(arr[a][b].num==0&&arr[c][b].num!=0){
						let temp = arr[c][b].num;
						arr[c][b].num = 0;
						arr[a][b].num = temp;
						this.ifRandom=true;
					}else if(arr[a][b].num==arr[c][b].num&&arr[a][b].num!=0&&arr[c][b].fit&&arr[a][b].fit){
						arr[a][b].num = arr[a][b].num*2;
						arr[c][b].num = 0;
						arr[a][b].fit = false;
						this.ifRandom=true;
					}	
				}else{
					if(arr[a][b].num==0&&arr[a][c].num!=0){
						let temp = arr[a][c].num;
						arr[a][c].num = 0;
						arr[a][b].num = temp;
						this.ifRandom=true;
					}else if(arr[a][b].num==arr[a][c].num&&arr[a][b].num!=0&&arr[a][c].fit&&arr[a][b].fit){
						arr[a][b].num = arr[a][b].num*2;
						arr[a][c].num = 0;
						arr[a][b].fit = false;
						this.ifRandom=true;
					}	
				}		
			},*/
			allFitTrue(arr,i,j){
				arr[i][j].fit=true;
				arr[i][j].count=0;
			}
		}
	}) 

</script>
</body>
</html>
